
hardware/hardware-backups/

hardware/v1-PSMX/v1-PSMX-backups/

hardware/v1-PSMX/fp-info-cache

hardware/v1-PSMX/#auto_saved_files#

*.kicad_sch-bak

hardware/v1-USMX/fp-info-cache

hardware/v1-USMX/v1-USMX-backups/v1-USMX-2022-12-21_092105.zip
