
hardware/hardware-backups/

hardware/v1-PSMX/v1-PSMX-backups/

hardware/v1-PSMX/fp-info-cache

hardware/v1-PSMX/#auto_saved_files#

*.kicad_sch-bak

hardware/v1-USMX/fp-info-cache

hardware/v1-USMX/v1-USMX-backups/v1-USMX-2022-12-21_092105.zip

hardware/v1-USMX/v1-USMX-backups/

hardware/v1-USMX/_autosave-v1-USMX.kicad_pcb

station-configuration-api/app/__pycache__/database.cpython-311.pyc

station-configuration-api/app/__pycache__/flask_exception.cpython-311.pyc

station-configuration-api/app/__pycache__/main.cpython-311.pyc

station-configuration-api/app/__pycache__/

*.pyc
